<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <title>Blog Template</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">

    <!-- <meta property="og:type" content="" /> 
    <meta property="og:url" content="" /> 
    <meta property="og:title" content="" /> 
    <meta property="og:image" content="" /> 
    <meta property="og:description" content="" />
    <meta name="twitter:site" content="">
    <meta name="twitter:creator" content="">
    <meta name="twitter:title" content="">
    <meta name="twitter:description" content="">
 -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" referrerpolicy="no-referrer" />
    <link href="css/dash.css" rel="stylesheet">
  </head>

  <body>         
    <div class="section-blog-header">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-1 col-sm-12">
            <img src="images/pavan.jpg">
            <h1>Allu Vamsi Pavan Kumar</h1>
            <h3>Visakhapatnam, Andhra Pradesh<span><i class="fa fa-edit" onclick=""></i></span></h3>
            <button>Join room</button>
            <button>Request food</button>
            <button>Oxygen Supply</button>
           
           
          </div>
        </div>
      </div>
    </div>
    
    <div class="section-blog">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-1 col-sm-12">
            <div class="articles">
                
              <div class="article">
                
                <div class="inner">
                  <div class="post-head">
                  <h2>Pullarao</h2>
                  <h4>25/04/202</h4>
                  </div>
                  <p>Lorem ipsum dolor sit amet, 
                      consectetur adipiscing elit. Proin viverra nec ligula vitae finibus. Phasellus finibus maximus sem a pellentesque. </p>

                </div>
              </div>

              <div class="article">
                
                <div class="inner">
                  <div class="post-head">
                  <h2>Pullarao</h2>
                  <h4>25/04/202</h4>
                  </div>
                  <p>Lorem ipsum dolor sit amet, 
                      consectetur adipiscing elit. Proin viverra nec ligula vitae finibus. Phasellus finibus maximus sem a pellentesque. </p>

                </div>
              </div>

              <div class="article">
                
                <div class="inner">
                  <div class="post-head">
                  <h2>Pullarao</h2>
                  <h4>25/04/202</h4>
                  </div>
                  <p>Lorem ipsum dolor sit amet, 
                      consectetur adipiscing elit. Proin viverra nec ligula vitae finibus. Phasellus finibus maximus sem a pellentesque. </p>

                </div>
              </div>
              <div class="article">
                
                <div class="inner">
                  <div class="post-head">
                  <h2>Pullarao</h2>
                  <h4>25/04/202</h4>
                  </div>
                  <p>Lorem ipsum dolor sit amet, 
                      consectetur adipiscing elit. Proin viverra nec ligula vitae finibus. Phasellus finibus maximus sem a pellentesque. </p>

                </div>
              </div>

             <div class="article">
                
                <div class="inner">
                  <div class="post-head">
                  <h2>Pullarao</h2>
                  <h4>25/04/202</h4>
                  </div>
                  <p>Lorem ipsum dolor sit amet, 
                      consectetur adipiscing elit. Proin viverra nec ligula vitae finibus. Phasellus finibus maximus sem a pellentesque. </p>

                </div>
              </div>
              <div class="article">
                
                <div class="inner">
                  <div class="post-head">
                  <h2>Pullarao</h2>
                  <h4>25/04/202</h4>
                  </div>
                  <p>Lorem ipsum dolor sit amet, 
                      consectetur adipiscing elit. Proin viverra nec ligula vitae finibus. Phasellus finibus maximus sem a pellentesque. </p>

                </div>
              </div>
            <div class="article">
                
                <div class="inner">
                  <div class="post-head">
                  <h2>Pullarao</h2>
                  <h4>25/04/202</h4>
                  </div>
                  <p>Lorem ipsum dolor sit amet, 
                      consectetur adipiscing elit. Proin viverra nec ligula vitae finibus. Phasellus finibus maximus sem a pellentesque. </p>

                </div>
              </div>
              <div class="article">
                
                <div class="inner">
                  <div class="post-head">
                  <h2>Pullarao</h2>
                  <h4>25/04/202</h4>
                  </div>
                  <p>Lorem ipsum dolor sit amet, 
                      consectetur adipiscing elit. Proin viverra nec ligula vitae finibus. Phasellus finibus maximus sem a pellentesque. </p>

                </div>
              </div>
              <div class="article">
                
                <div class="inner">
                  <div class="post-head">
                  <h2>Pullarao</h2>
                  <h4>25/04/202</h4>
                  </div>
                  <p>Lorem ipsum dolor sit amet, 
                      consectetur adipiscing elit. Proin viverra nec ligula vitae finibus. Phasellus finibus maximus sem a pellentesque. </p>

                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>